Development\backend\.env
Development\backend\backend\__pycache__
Development\backend\backend\env
Development\backend\.dockerignore
Development\backend\create_admin.py
Development\backend\docs
Development\backend\generate_sample_data.py
Development\backend\test_db.py


Development\frontend\.env
Development\frontend\node_modules
Development\frontend\docs


Development\Service\.env
Development\Service\env
Development\Service\web_monitor.log
Development\Service\network_monitor.log
Development\Service\malware_detector.log


Development\terraform\terraform.tfvars
Development\terraform\terraform.tfstate
Development\terraform\variables.tf




Production\backend\.env
Production\backend\backend\__pycache__
Production\backend\backend\env
Production\backend\.dockerignore
Production\backend\create_admin.py
Production\backend\docs
Production\backend\generate_sample_data.py
Production\backend\test_db.py

Production\frontend\.env
Production\frontend\node_modules
Production\frontend\docs

Production\Service\.env
Production\Service\env
Production\Service\web_monitor.log
Production\Service\network_monitor.log
Production\Service\malware_detector.log

Production\terraform\terraform.tfvars
Production\terraform\terraform.tfstate
Production\terraform\variables.tf
Production/terraform/terraform.tfvars

Production\docs

